{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'user_app/style.css' %}">
</head>
<body>
    
    <header><img src="{% static 'images/Group2.png' %}"></header>
    <hr>
    <main>
       <form action="" method="post">
        <h1>Раді тебе знову бачити!</h1>

        {% csrf_token %}
        
        {{ form.as_p }}
      
        
        <button class="login">Логін</button>
        </form>
        <img src="{% static 'images/Group 1.png' %}" alt="" class="comp"> 
    </main>
    

</body>
</html>