{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block title %}Друзі{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'main_app/friends.css' %}">
<script src="{% static 'main_app/friends.js' %}" defer></script>

<link rel="stylesheet" href="{% static 'main_app/header.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
{% render_header 0 0 1 %}
<input type="hidden" value="{% url 'chats' %}" id="chatUrl">
<div class="friends-app">

    <div class="app-container">
        <aside class="sidebar">
            <div class="menu-section">
                <ul class="menu-list">
                    <h3 class="menu-title active"><a class="list-a" href="{% url 'friends' '123' %}">Головна</a></h3>
                    <li class="menu-item"><a class="list-a" href="{% url 'friends' '1' %}">Запити</a></li>
                    <li class="menu-item"><a class="list-a" href="{% url 'friends' '2' %}">Рекомендації</a></li>
                    <li class="menu-item"><a class="list-a" href="{% url 'friends' '3' %}">Всі друзі</a></li>
                </ul>
            </div>
        </aside>
        <main class="content">
    {% if "1" in typek %}
    <section id="friend-section">
    <div class="section-header">
    <h2 class="section-title">Запити</h2>
    <a href="#" class="see-all">Дивитись всі</a></div>
    <section class="friends-section requests">
    <!-- <div class="friends-part"> -->

    <!-- </div> -->
     <!-- requests -->
    {% friends_cards requests %}
    
</section></section>
{% endif %}
{% if "2" in typek %}
<section id="friend-section">
<div class="section-header">
    <h2 class="section-title">Рекомендації</h2>
    <a href="#" class="see-all">Дивитись всі</a>
</div>
<section class="friends-section recommend">

{% friends_cards recommend 'Додати' %}
</section></section>
{% endif %}
{% if "3" in typek %}
<section id="friend-section">
<div class="section-header">
    <h2 class="section-title">Всі друзі</h2>
    <a href="#" class="see-all">Дивитись всі</a>
</div>
<section class="friends-section allFriends">
    {% friends_cards friends 'Повідомлення' %}
    
    
    
</section></section>
{% endif %}
        </main>
    </div>
</div>
{% endblock %}
