{% extends "base.html" %}
{% load static %}
{% block title %}Друзі{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'friends.css' %}">
{% endblock %}

{% block content %}
<div class="friends-app">
<header>
    <img src="{% static 'user_app/images/Group2.png' %}" class="World-IT">
  <nav>
    <a href="{% url 'main' %}" class="home"><img src="{% static 'images/House.png' %}" alt="">Головна</a>
    <a href="{% url 'posts' %}" class="posts"><img src="{% static 'images/public.png' %}" alt="">Мої публікації</a>
    <a href="{% url 'friends' %}" class="current-page friends"><img src="{% static 'images/people.png' %}" alt="">Друзі</a>
    <a href="{% url 'chats' %}" class="chats"><img src="{% static 'images/chat.png' %}" alt="">Чат</a>
    <a href="{% url 'personal' %}" class="personal"><img src="{% static 'images/Component 5.png' %}" alt="">Налаштування</a>
    <form action="{% url 'logout' %}" method="post" id="reviewForm">{% csrf_token %}<button class="logout"><img src="{% static 'images/Component 5 (1).png' %}" alt="" class="ok">Вихід</button></form>
    
  </nav>
</header>

    <div class="app-container">
        <aside class="sidebar">
            <div class="menu-section">
                <h3 class="menu-title">Головна</h3>
                <ul class="menu-list">
                    <li class="menu-item active">Запити</li>
                    <li class="menu-item">Рекомендації</li>
                    <li class="menu-item">Всі друзі</li>
                </ul>
            </div>
        </aside>
        <main class="content">
            <section class="friends-section">
    <h2 class="section-title">Запити</h2>
    
    <div class="friend-card">
        <div class="friend-profile">
            <img src="{% static 'images/avatar1.png' %}" class="friend-avatar" >
            <div class="friend-info">
                <strong class="friend-name">Уchor Aung</strong>
                <span class="friend-username">@thelili</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-confirm">Підтвердити</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>
    
    <div class="friend-card">
        <div class="friend-profile">
            <img src="{% static 'images/avatar2.png' %}" class="friend-avatar" alt="">
            <div class="friend-info">
                <strong class="friend-name">Ann Ann</strong>
                <span class="friend-username">@thelili</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-confirm">Підтвердити</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>
</section>

<section class="friends-section">
    <div class="section-header">
        <h2 class="section-title">Рекомендації</h2>
        <a href="#" class="see-all">Дивитись всі</a>
    </div>
    
    <div class="friend-card">
        <div class="friend-profile">
            <img src="{% static 'images/avatar3.png' %}" class="friend-avatar" >
            <div class="friend-info">
                <strong class="friend-name">Уchor Aung</strong>
                <span class="friend-username">@thelili</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-add">Додати</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>
    
        <div class="friend-card">
        <div class="friend-profile">
            <img src="{% static 'images/avatar4.png' %}" class="friend-avatar" alt="Аватар">
            <div class="friend-info">
                <strong class="friend-name">Ann Ann</strong>
                <span class="friend-username">@thelili</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-confirm">Підтвердити</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>
</section>

<section class="friends-section">
    <div class="section-header">
        <h2 class="section-title">Всі друзі</h2>
        <a href="#" class="see-all">Дивитись всі</a>
    </div>
    
    <div class="friend-card">
        <div class="friend-profile">
            <img src="{% static 'images/avatar5.png' %}" class="friend-avatar" alt="Аватар">
            <div class="friend-info">
                <strong class="friend-name">Уchor Aung</strong>
                <span class="friend-username">@thelili</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-add">Додати</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>

            <div class="friend-card">
        <div class="friend-profile">
            <img src="{% static 'images/avatar6.png' %}" class="friend-avatar" alt="Аватар">
            <div class="friend-info">
                <strong class="friend-name">Ann Ann</strong>
                <span class="friend-username">@thelili</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-confirm">Підтвердити</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>

    <div class="friend-card">
        <div class="friend-profile">
            <img src="{% static 'images/avatar7.png' %}" class="friend-avatar" alt="Аватар">
            <div class="friend-info">
                <strong class="friend-name">Уchor Aung</strong>
                <span class="friend-username">@thelili</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-add">Додати</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>
    
    
</section>
        </main>
    </div>
</div>
{% endblock %}
