{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load post_tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'post_app/posts.css' %}">
<link rel="stylesheet" href="{% static 'post_app/main.css' %}">
<script src="{% static 'main_app/jquery.js' %}" defer></script>
<script src="{% static 'post_app/script.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'main_app/header.css' %}">
{% endblock %}
{% block content %}
{% render_header 0 0 1 %}
<input type="hidden" id="link" value="{% url 'friends' '123' %}">
<script defer>
document.querySelector('#reviewForm').action = document.querySelector('#link').value
</script>
<input type="hidden" id="request" value="{% url 'list' %}">
<input type="hidden" class="type" name="type" value="friends{{ pk }}">
<div class="container">

<aside class="sidebar">
  <div class="profile-card">
    <div class="profile-1">
      {% profile_icon user "avatar-big" %}
      <!-- <img class="avatar-big" src="{% static 'main_app/images/Indicator.png' %}" alt="Lina Li"> -->
       <!-- user -->
      <div class="online-dot"></div>
      <h2>{{user.first_name}}</h2>
      <p>@{{user.username}}</p>
    </div>
    {% status user %}
  </div>
  

  
</aside>
  </aside>
  <main class="content">
    <div class="poster">
    </div>
  </main>
</div>


{% endblock %}