{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load post_tags %}
{% block link %}


<link rel="stylesheet" href="{% static 'post_app/posts.css' %}"> 
<link rel="stylesheet" href="{% static 'post_app/main.css' %}"> 
<link rel="stylesheet" href="{% static 'main_app/header.css' %}">
<link rel="stylesheet" href="{% static 'main_app/friends_account.css' %}">

<script src="{% static 'main_app/jquery.js' %}" defer></script>
<script src="{% static 'post_app/script.js' %}" defer></script>
{% endblock %}
{% block content %}
{% render_header 0 0 1 %}
<input type="hidden" id="request" value="{% url 'list' %}">
<input type="hidden" name="type" id="type" value="friends">
<div class="container">
    <aside class="sidebar">
        <div class="profile-card">
            <div class="profile-1">
            {% profile_icon user "avatar-big" %}
            <div class="online-dot"></div>
            <h2>{{user.first_name}}</h2>
            <p>@{{user.username}}</p>
            </div>
            {% status user %}
        </div>
        <div class="albums-section"> 
            <div class="section-header">
                <h3 class="section-title">Альбоми</h3>
                <a href="#" class="see-all">Дивитись всі</a>
            </div>
            <div class="mood-gallery">
                {% if albums %}
                    {% for album in albums %}
                        <div class="mood-item">
                            <h4 class="mood-title">{{ album.name }}</h4>
                            <span class="mood-date">{{ album.year }}</span>
                            <img src="{{ album.images.first.image.url }}" alt="{{ album.name }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Альбомів немає.</p>
                {% endif %}
            </div>
        </div>
  </aside>
  <main class="content">
    <div class="poster">
    </div>
  </main>
</div>

{% endblock %}
