{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'main_app/personal.css' %}">
<link rel="stylesheet" href="{% static 'main_app/header.css' %}">
<script src="{% static 'main_app/jquery.js' %}" defer></script>

<script src="{% static 'main_app/personal.js' %}" defer></script>
{% endblock %}
{% block title %}Особиста інформація{% endblock %}
{% block content %}
{% render_header 0 0 0 0 1 %}
{% csrf_token %}
<input type="hidden" id="eyeUrl" value="{% static 'user_app/images/eye.png' %}">
<input type="hidden" value="{% url 'personal' %}" id="personalUrl">
<div class="app-container">
        <aside class="sidebar">
            <div class="menu-section">
                <ul class="menu-list">
                    <h3 class="menu-title active">Особлива інформація</h3>
                    <a href="{% url 'albums' %}" class="menu-item">Альбоми</a>
                </ul>
            </div>
        </aside>
        <main class="content">
            <div class="card">
                <div class="header-card">
                    <p>Картка профілю</p>
                    <button class="save" id="view-mode"><img src="{% static 'main_app/images/edit.png' %}" alt="">Редагувати інформацію</button>
                    <div id="edit-mode" style="display: none;">
                    <div class="header">
                    <span>Картка профілю</span>
                    <buttonclass="save-btn"> Зберегти</button>
                    </div>
                    <div class="content">
                    <p>Оберіть або завантажте фото профілю</p>
                    <div class="photo-options">
                        <button> Додайте фото</button>
                        <button> Оберіть фото</button>
                    </div>
                    <h2>Lina Li</h2>
                    <label>
                        <br>Ім'я користувача<br/>
                        <input type="text" value="@thelili"/>
                    </label>
                    </div>
                </div>
                <div class="main-card">
                    
                    <img src="{% static 'main_app/images/Indicator.png'%}" class="avatar" alt="">
                    <div class="data-part">
                        <h2>{{request.user.first_name}}</h2>
                        <p>@{{request.user.username}}</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <!-- <form method="none" id="formData"> -->
                <div class="header-card">
                    <p>Особиста інформація</p>
                    <button class="save" id="info"><img class="edit-img" src="{% static 'main_app/images/edit.png' %}" alt=""> Редагувати інформацію</button>
                </div>
                <div class="main-card left">
                    
                    <div class="inputs-part">
                        <!-- {{ form.as_p }} -->
                        {% for field in form %}
                            <p class="input-part">
                                {{field.label_tag }}
                                {{field}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <!-- </form> -->
            </div>
            <div class="card">
                <div class="header-card">
                    <p>Варіанти підпису</p>
                    <button class="save"><img src="{% static 'main_app/images/edit.png' %}" alt=""> Редагувати інформацію</button>
                </div>
                <div class="checks">
                    <p><input type="checkbox" name="" id="checkName"> <label for="checkName" class="checker">Ім'я та призвіще</label></p>
                    <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
                    <p><input type="checkbox" name="" id="checkEmail"> <label for="checkEmail" class="checker">Мій електронний підпис</label></p>
                    <img src="{% static 'main_app/images/Frame 1000002435.png' %}" alt="" id="electronicSignature">
                    <style>
                        canvas {
                            cursor: url("{% static 'main_app/images/edit-2.png' %}"), auto;
                        }
                    </style>
                    <canvas></canvas>
                </div>
            </div>
        </main>
</div>
{% endblock %}