{% extends 'base.html' %}
{% load static %}
{% if request.user.is_authenticated %}
{% endif %}
{% block link %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'posts.css' %}">
<script src="{% static 'jquery.js' %}" defer></script>
<script src="{% static 'script.js' %}" defer></script>
<script src="{% static 'post.js' %}" defer></script>
{% endblock %}

{% block content %}

    <header>
  <img src="{% static 'user_app/images/Group2.png' %}" class="World-IT">
  <nav>
    <a href="{% url 'main' %}" class="home"><img src="{% static 'images/House.png' %}" alt="">Головна</a>
    <a href="{% url 'posts' %}" class="current-page posts"><img src="{% static 'images/public.png' %}" alt="">Мої публікації</a>
    <a href="{% url 'friends' %}" class="friends"><img src="{% static 'images/people.png' %}" alt="">Друзі</a>
    <a href="{% url 'chats' %}" class="chats"><img src="{% static 'images/chat.png' %}" alt="">Чат</a>
    <a href="{% url 'personal' %}" class="personal"><img src="{% static 'images/Component 5.png' %}" alt="">Налаштування</a>
    <form action="{% url 'logout' %}" method="post" id="reviewForm">{% csrf_token %}<button class="logout"><img src="{% static 'images/Component 5 (1).png' %}" alt="" class="ok">Вихід</button></form>
    
  </nav>
</header>
<input type="hidden" id="trash" value="{% static 'images/remove_img.png' %}">
<input type="hidden" id="request" value="{% url 'list' %}">
<!-- <div class="container"> -->

<div id="bg" class="hidden"></div>
<form action="" method="post" id="modalForm" class="hidden" enctype="multipart/form-data">
  <input type="hidden" name="formType" value="modalForm">
  <input type="hidden" value="save" name="type" id="type">
  <input type="hidden" value="" name="imgs" id="imgs">
  <input type="hidden" name="images1" id="images1" value="">
  <input type="hidden" name="images2" id="images2" value="">
  <h1 id="formName">Створення публікації <button class="close" type="button"><img src="{% static 'images/close.png' %}" alt=""></button></h1>
  <div id="form">
    {% csrf_token %}
    {% for field in form %}
        
        <p>
          {{field.label_tag }}
          {{field}}
        </p>
        {% if field.label == 'Тема публікації' %}
          <div id="tags">
            <div class="tags-div"></div>
            <button id="addTags" type="button"><img src="{% static 'images/Tag.png' %}" alt=""></button>
          </div>
        {% endif %}
    {% endfor %}
  <div id="imagesDiv">

  </div>
  </div>
  <div id="sendPart">
    <img src="{% static 'images/em.png' %}" alt="" class="move">
    <label for="imageInput"><img src="{% static 'images/img.png' %}" alt="" class="move"></label>
    <input type="file" id="imageInput" name="images" accept="image/*" multiple>
    <button class="send sendCreate"><span class="center">Публікація</span><img src="{% static 'images/send.png' %}" alt=""></button>
  </div>
</form>
<input type="hidden" name="" id="removeLink" value="{% url 'remove' 1 %}">
<div class="container">
<aside class="sidebar">
    <div class="profile-card">
    <div class="profile-1">
      <img class="avatar-big" src="{% static 'images/Indicator.png' %}" alt="Lina Li">
      <div class="online-dot"></div>
      <h2>{{request.user.first_name}}</h2>
      <p>@{{request.user.username}}</p>
    </div>
    <div class="stats">
      <div><strong>566</strong><br><span class="grey">Дописи</span></div>
      <div class="vertical-line"></div>
      <div><strong>12.1K</strong><br><span class="grey">Читачі</span></div>
      <div class="vertical-line"></div>
      <div><strong>222</strong><br><span class="grey">Друзі</span></div>
    </div>
  </div>
  

 

    
  
  
</aside>
  </aside>
  <main class="content">
    <form class="publiaction">
      <input placeholder="Текст публікації" class="input">
      <div class="right">
        <!-- <div class="centers"> -->
          <img src="{% static 'images/em.png' %}" alt="" class="move">
          <button class="send" id="formal">Перейти до оформлення</button>
        <!-- </div> -->
      </div>
    </form>
    <div class="poster">
    </div>
    
  </main>
</div>
</div>
</div>
{% endblock %}