* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Segoe UI', sans-serif; */
}

body {
  background-color: #f0f2f5;
  color: #1c1e21;
}

header {
  background: white;
  padding: 10px 20px;
  /* border-bottom: 1px solid #ccc; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  padding: 2.634467618vw 80px;
  /* height: 100vw; */
  height: 4.39077936334vw;
}
header nav form{
  display: inline-block;
  margin-right: 10px;
}
header nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  
  padding: 5px 5px 5px 5px;
  margin-left: 20px;
  text-decoration: none;

  color: #1c1e21;
  font-size: 100%;
  /* 14px */
  display: inline-block;
  margin-right: 10px;
  /* vertical-align: center; */
  justify-self: center;
  align-items: center;
  height: 28px;
  text-align: center;
  
}
.logout{
  background-color:unset;
  border-radius: 1234px;
  display: flex;
  justify-content: center;
  border: #543C52 solid 1px;
  height: 40px;
  width: 95px;
  align-items: center;
  padding: 16px 10px;

}
.ok{
  width: 20px;
  height: 20px;
  /* margin-top: auto; */
}
/* header nav{ */
  /* display: flex;
  flex-direction: row; */
  /* display: inline-block;
  margin-right: 10px;
} */
.current-page{
  background-color: #E9E5EE;
  
}
.center{
  display: inline-block;
  /* width: 55px; */
  height: 28px;
  /* margin-top: ; */
  /* height: 1px; */
  /* background-color: #81818D; */
  /* margin: 0 5px; */
  vertical-align:middle;
}
header nav img {
  vertical-align: center;
}
.container {
  display: flex;
  /* max-width: 1100px; */
  margin: 20px auto;
  gap: 20px;
  justify-content: center;
}
/* .container2 {
  display: flex; */
  /* max-width: 1100px; */
  /* margin: 20px auto;
  gap: 20px;
} */
#reviewForm{
  width: 95;
}
.sidebar {
  /* width: 270px; */
  /* background: white; */
  height: 271px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}
.sidebar .card,.sidebar .profile-card{
  border: #CDCED2 solid 1px;
  
}
.vertical-line{
  height: 48px;width: 1px;
  background-color: #CDCED2;
}
.grey{
  color: #81818D;
  font-size: 16px;
}

.profile {
  text-align: center;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile h2 {
  font-size: 16px;
  margin: 8px 0 4px;
}

.profile p {
  font-size: 13px;
  color: #606770;
}

.sidebar h3 {
  font-size: 14px;
  margin: 20px 0 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 6px 0;
  font-size: 13px;
  color: #333;
}

/* .content {
  flex: 1;
} */

.post {
  background: white;
  border-radius: 8px;
  width: 923px;
  padding: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.post::-webkit-scrollbar {
    display: none;
}::-webkit-scrollbar {
    display: none;
}
body{
  overflow: hidden;
}
.post .user {
  font-weight: bold;
  height: 89px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #050505;
  gap: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}
button{
  background-color: transparent;
}.removeImg{
  border: 0px;
  width: 40;
height: 40;
top: 10px;
right: 10px;
padding: 10px;
display: block;
position: absolute; /* Position relative to the nearest positioned ancestor (.image-item-with-overlay) */
  top: 10px;        /* Distance from the top edge of the container */
  right: 10px;      /* Distance from the right edge of the container */
}
.formName{
  position: relative;
}
.ellipsis{
    display: none;
}
.close{
  border: none;
  margin-left: auto;
  right: 15px;
  position:absolute;
}
.post .text {
  font-size: 14px;
  color: #1c1e21;
  line-height: 1.4;
  margin-bottom: 12px;
  width: 923;
  min-width: 533;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.reaction {
  font-size: 13px;
  color: #65676b;
  display: flex;
  gap: 15px;
  
  padding-top: 8px;
  margin-top: 10px;
}

.comments {
  margin-top: 10px;
}

.comment {
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.comment .user {
  font-weight: bold;
  font-size: 13px;
  color: #050505;
}

.comment .text {
  font-size: 13px;
  color: #4b4f56;
  margin-top: 4px;
}

html, body {
  height: 100%;
}

.container {
  width: calc(350px+923px); 
  overflow: hidden;
}

.sidebar {
  height: 100%;
  overflow-y:visible;
  overflow-x:visible;
  width:  382.870361328125px;
}

.content {
  height: 85vh;
  
  /* flex-grow: 1; */
  /* flex-grow: ; */
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  width: 923px;
  overflow-y: scroll;
  scrollbar-width: none;
  
}
/* label{
  display: none;
} */
.content::-webkit-scrollbar {
  display: none;
}

.content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  display:none;
  border-radius: 10px;
}
.post {
  margin-bottom: 20px;
}

.comments {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 5px;
}

.comments::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.comments::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  display: none;
}

.sidebar {
  /* width: 270px; */
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.profile-card {
  background: white;
  padding: 16px;
  height: 271px;
  border-radius: 12px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}
.profile-1{
  align-items: center;
  border: 0px;
}
.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-big {
  height: 96px;
  width: 96px;
}
.online-dot {
  width: 12px;
  height: 12px;
  background: #27ae60;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.profile-card h2 {
  font-size: 16px;
  margin-top: 8px;
}

.profile-card p {
  font-size: 13px;
  color: #888;
  
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
}

.stats div {
  text-align: center;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  width: 350.870361328125px;
}
.change-img{
  border-radius: 16px;
  max-height: 500px;
  max-width: 433.5px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #444;
  height: 23px;
}
.send{
    width: 222px;
    height: 40px;
    border-radius: 1234px;
    /* gap: 8px; */
    padding: 10px 16px;
    background-color: #543C52;
    /* font-family: GT; */
    color: white;
    font-size: 14px;
    display: block;

}
.sendCreate{
  width: 130px;
}
.input{
  height: 22px;
  width: 891px;
  padding: 16px;
  border-radius: 10px;
  background: #FFFFFF;
  margin-bottom: 8px;
  /* position: absolute; */
  text-align: left;
  border: 0;
  font-size: 16px;
  vertical-align: top;
  /* text-justify: ; */
}
.input:focus{
  border: none;
  outline: none;
}
.publiaction{
  height: 120px;
  width: 923px;
  padding: 16px;
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 8px;
}
.move{
  margin-left: auto;
  display: block;
}
.centers{
  margin-left: auto;
  width: 243px;
}
.publiaction div{
  /* position: relative; */
  /* direction: ; */
  height: 40px;
  gap: 10px;
  /* right: 0px; */
}
.right{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  height: 40px;
  width: 891px;
}
/* 40 */
.section-header a {
  height: 23px;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.user-row, .message-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-row img, .message-row img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.name {
  font-size: 13px;
  font-weight: bold;
  color: #111;
}

.meta {
  font-size: 12px;
  color: #777;
}

.message-row {
  justify-content: space-between;
}
.message, .request{
  height: 46px;
  width: 318.870361328125px;
  /* position: relative; */
  /* left: -12px; */
  /* margin-right: 10px; */
  display: flex;
  gap: 16px;
  height: 62px;
}
aside{
  width: 350px;
}
.avatar{
  height: 46px;
  width: 46px;
}
.msg-content {
  flex: 1;
}
.msg-text{
  width: 260.870361328125;
}
.time {
  font-size: 11px;
  color: #aaa;
  text-align: right;
  font-size: 10px;
  max-width: 60px;
}
.msg-just{
  justify-content: space-between;
  display: flex;
}
.posts{
  width: 147;
  height: 28;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 3px;

}
.friends{
  width: 85;
  height: 28;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 3px;

}
.chats{
  width: 79;
  height: 28;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 3px;

}
.personal{
  width: 154;
  height: 28;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 3px;

}
.home{
  width: 103;
  width: 7.15277777778vw;
  font-size: 100%;
  height: 2.53853127833vh;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  gap: 8px;
  border-radius: 3px;
}
/* 5.57777777778 */
.World-IT{
  width: 10.0694444444%;
}
