{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load post_tags %}
{% load chat_tags %}
{% if request.user.is_authenticated %}
{% endif %}
{% block link %}
<link rel="stylesheet" href="{% static 'post_app/posts.css' %}">
<link rel="stylesheet" href="{% static 'post_app/main.css' %}">
<script src="{% static 'main_app/jquery.js' %}" defer></script>
<script src="{% static 'post_app/script.js' %}" defer></script>
<script src="{% static 'post_app/post.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'post_app/header.css' %}">
{% endblock %}

{% block content %}
{% render_header 1 %}
{% csrf_token %}
<input type="hidden" id="likeUrl" value="{% static 'main_app/images/like.png' %}">
<input type="hidden" id="likedUrl" value="{% static 'main_app/images/liked.png' %}">
<input type="hidden" id="request" value="{% url 'list' %}">
<div id="bg" class="hidden"></div>
<input type="hidden" name="" id="linkClose" value="{% static 'main_app/images/linkClose.png' %}">
<form action="" method="post" id="modalForm" class="hidden" enctype="multipart/form-data">
  <input type="hidden" name="formType" value="modalForm">
  <input type="hidden" value="save" name="type" id="type">
  <input type="hidden" value="" name="imgs" id="imgs">
  <input type="hidden" name="images1" id="images1" value="">
  <input type="hidden" name="images2" id="images2" value="">
  <h1 id="formName">Створення публікації <button class="close" type="button"><img class="close" src="{% static 'main_app/images/close.png' %}" alt=""></button></h1>
  <div id="form">
    {% csrf_token %}
    {% for field in form1 %}
    <p>
      {{field.label_tag }}
      {{field}}
    </p>
    {% if field.label == 'Тема публікації' %}
      <div id="tags">
        <div class="tags-div">{% standard_tags %}<button id="addTags" type="button"><img id="addTagsImg" src="{% static 'main_app/images/Tag.png' %}" alt=""></button></div>
      </div>
    {% elif field.label == '' %}
      <div class="editableBox"></div>
      <p class="countOfPlus">
        <label for="link_id">Посилання</label>
        <div class="plus">
          <input type="text" id="link_id" name="link" placeholder="вставте посилання публікації" class="formInput linkInput" maxlength="255">
          <img src="{% static 'main_app/images/Tag.png' %}" class="img-plus" alt="" >
        </div>
      </p>
    {% endif %}
    {% endfor %}
    <div id="imagesDiv"></div>
  </div>
  <div id="sendPart">
    <img src="{% static 'main_app/images/em.png' %}" alt="" class="move">
    <label for="imageInput"><img src="{% static 'main_app/images/img.png' %}" alt="" class="move"></label>
    <input type="file" id="imageInput" name="images" accept="image/*" multiple>
    <button class="send sendCreate"><span class="center">Публікація</span><img id="beer" src="{% static 'main_app/images/send.png' %}" alt=""></button>
  </div>
</form>
{% if request.user.email == '' %}
<div id="bg"></div>
<form action="" id="userSet" method="post">
  {% csrf_token %}
  <input type="hidden" name="formType" value="userSet">
  <div class="space"><button class="close" type="button"><img src="{% static 'main_app/images/close.png' %}" class="close" alt=""></button></div>
  <h1 class="hello">Додай деталі про себе</h1>
  <div class="inputos">
    {{ form2 }}
  </div>
  <p class="small">Або оберіть: <span class="green">Запропоновані варіанти відповідно до Ім’я та Прізвища</span></p>
  <div class="hoh"><button class="send" id="toRight">Продовжити</button></div>
</form>
{% endif %}
<div class="container">
<input type="hidden" id="trash" value="{% static 'main_app/images/remove_img.png' %}">
<aside class="sidebar">
  <div class="profile-card">
    <div class="profile-1">
      {% if request.user.is_authenticated %}
      {% profile_icon request.user "avatar-big" %}
      <div class="online-dot"></div>
      <h2>{{request.user.first_name}}</h2>
      <p>@{{request.user.username}}</p>
      {% endif %}
    </div>
    {% if request.user.is_authenticated %}
    {% status request.user %}
    {% endif %}
  </div>
  <div class="card">
    <div class="section-header">
      <span><img src="{% static 'main_app/images/people (1).png' %}" alt=""  class="icon"><span class="center">Запити</span></span>
      <a href="#">Дивитись всі</a>
    </div>
    <!-- <div class="request">
      <img  class="avatar" src="{% static 'main_app/images/yehor.png' %}">
      <div>
        <div class="name">Yehor Aung</div>
        <div class="meta">4.3k підписників</div>
      </div>
    </div> -->
  </div>
  <div class="card">
    <div class="section-header">
      <span ><img src="{% static 'main_app/images/chat (1).png' %}" alt="" class="icon"><span class="center">Повідомлення</span></span>
      <a href="#">Дивитись всі</a>
    </div>
    <ul>

      {% for message in messagesList %}
          {% contact_main_tag request message.pk %}
      {% endfor %}
    </ul>
    
  </div>
</aside>
  </aside>
  <main class="content">
    <form class="publiaction" method="post">
      {% csrf_token %}
      <input placeholder="Текст публікації" class="input">
      <div class="right">
        <img src="{% static 'main_app/images/em.png' %}" alt="" class="move">
        <button class="send">Перейти до оформлення</button>
      </div>
    </form>
    <div class="poster"></div>
  </main>
</div>
{% endblock %}