
{% load static %}
{% load tags %}
{% load post_tags %}
{% for post in list_posts %}

<div class="post" id="post{{post.pk}}">
    <div class="user">
        {% profile_icon post.author.user %}
        {% if post.author.user.first_name %}
            {{ post.author.user.first_name}} 
        {% else %}
            @{{ post.author.user.username}} 
        {% endif %}
        <!-- <form method="dialog"> -->
            {% if type == "posts" %}
            <button class="ellipsis" type="submit" id="heh{{post.pk}}"><img src="{% static 'main_app/images/ellipsis.png' %}" alt="error" class="icon" ></button>
            <dialog class="dialog hidden" id="heh{{post.pk}}">
                <button class="ellipsis hidden"  id="heh{{post.pk}}" type="submit" ><img src="{% static 'main_app/images/ellipsis.png' %}" alt="error" class="icon"></button>
                <button class="config edit" id="{{post.pk}}"><img src="{% static 'main_app/images/edit.png' %}" alt=""  class="icon">Редагувати допис</button>
                <hr>
                <button class="config remove" id="{{post.pk}}"><img src="{% static 'main_app/images/remove.png' %}" alt=""  class="icon">Видалити публікацію</button>
            </dialog>
        {% endif %}
    <!-- </form> -->
    </div>
    <div class="text">
        <!-- <hr> -->
        <!-- <div> -->
        <h3>{{ post.title}}</h3>
            
        <!-- </div> -->
        <p>{{ post.content }}
        <span class="grey">
        {% if post.tags %}
            {% for tag in post.tags.all %}
            #{{ tag.name }}
            {%  endfor %}
        {% endif %}
        </span></p>

        {% links post %}
       
        {% if post.images.all %}
            <!-- optjnerwtty -->
            <div class="images">
                {% for image in post.images.all %}
                    <img src="{{image.file.url}}" alt="" class="change-img">
                {%  endfor %}
            </div>
        {% endif %}
         
    </div>
        <div class="reaction">
        <input type="hidden" name="" id="likeLink" value="{% url 'like_post' post.pk %}">

        <span class="center-icon">
            {% if profile in post.likes.all %}
            <img src="{% static 'main_app/images/liked.png' %}" alt=""  class="icon like">
            {% else %}
            <img src="{% static 'main_app/images/like.png' %}" alt=""  class="icon like">
            {% endif %}
            <span>
                {{ post.likes.all | length }}
            </span> вподобань</span>
        <span class="center-icon"><img src="{% static 'user_app/images/eye_on.png' %}" alt=""  class="icon">{{post.views.all | length }} Переглядів</span>
    </div>
    </div>
{% endfor  %}