{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load post_tags %}
{% if request.user.is_authenticated %}
{% endif %}
{% block link %}
<link rel="stylesheet" href="{% static 'post_app/main.css' %}">
<link rel="stylesheet" href="{% static 'post_app/posts.css' %}">
<script src="{% static 'main_app/jquery.js' %}" defer></script>
<script src="{% static 'post_app/script.js' %}" defer></script>
<script src="{% static 'post_app/post.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'post_app/header.css' %}">
{% endblock %}

{% block content %}


{% render_header 0 1 %}
<input type="hidden" id="trash" value="{% static 'main_app/images/remove_img.png' %}">
<input type="hidden" id="request" value="{% url 'list' %}">
<input type="hidden" name="" id="linkClose" value="{% static 'main_app/images/linkClose.png' %}">
<!-- <div class="container"> -->

<div id="bg" class="hidden"></div>
<form action="" method="post" id="modalForm" class="hidden" enctype="multipart/form-data">
  <input type="hidden" name="formType" value="modalForm">
  <input type="hidden" value="save" name="type" id="type">
  <input type="hidden" value="" name="imgs" id="imgs">
  <input type="hidden" name="images1" id="images1" value="">
  <input type="hidden" name="images2" id="images2" value="">
  <h1 id="formName">Створення публікації <button class="close" type="button"><img  class="close" src="{% static 'main_app/images/close.png' %}" alt=""></button></h1>
  <div id="form">
    {% csrf_token %}
    {% for field in form %}
    
          <p>
            {{field.label_tag }}
            {{field}}
          </p>
    
        {% if field.label == 'Тема публікації' %}
          <div id="tags">
            <div class="tags-div">{% standard_tags %}<button id="addTags" type="button"><img id="addTagsImg" src="{% static 'main_app/images/Tag.png' %}" alt=""></button></div>
          </div>
        {% elif field.label == '' %}
        <div class="editableBox"></div>
        <!-- </div> -->
          <p class="countOfPlus">
            <!-- {{field.label_tag }} -->
             <label for="link_id">Посилання</label>
            <div class="plus">
              <input type="text" id="link_id" name="link" placeholder="вставте посилання публікації" class="formInput linkInput" maxlength="255">
              <!-- {{field}} -->
        <!-- # link = forms.CharField(widget=forms.TextInput(attrs={"placeholder": "вставте посилання публікації","class": "formInput linkInput"}),label='Посилання',max_length=255, required=False) -->

              <img src="{% static 'main_app/images/Tag.png' %}" class="img-plus" alt="" >
            </div>
          </p>
        {% endif %}
       
    {% endfor %}
    
  <div id="imagesDiv">

  </div>
  </div>
  <div id="sendPart">
    <img src="{% static 'main_app/images/em.png' %}" alt="" class="move">
    <label for="imageInput"><img src="{% static 'main_app/images/img.png' %}" alt="" class="move"></label>
    <input type="file" id="imageInput" name="images" accept="image/*" multiple>
    <button class="send sendCreate"><span class="center">Публікація</span><img id="beer" src="{% static 'main_app/images/send.png' %}" alt=""></button>
  </div>
</form>
<input type="hidden" name="" id="removeLink" value="{% url 'remove' 1 %}">
<div class="container">
<aside class="sidebar">
    <div class="profile-card">
    <div class="profile-1">
      <!-- <img class="avatar-big" src="{% static 'main_app/images/Indicator.png' %}" alt="Lina Li"> -->
      {% profile_icon request.user "avatar-big" %}
      <div class="online-dot"></div>
      <h2>{{request.user.first_name}}</h2>
      <p>@{{request.user.username}}</p>
    </div>
    {% status request.user %}
    <!-- <div class="stats">
      <div><strong>0</strong><br><span class="grey">Дописи</span></div>
      <div class="vertical-line"></div>
      <div><strong>0</strong><br><span class="grey">Читачі</span></div>
      <div class="vertical-line"></div>
      <div><strong>0</strong><br><span class="grey">Друзі</span></div>
    </div> -->
  </div>
  

 

    
  
  
</aside>
  </aside>
  <main class="content">
    <form class="publiaction">
      <input placeholder="Текст публікації" class="input">
      <div class="right">
        <!-- <div class="centers"> -->
          <img src="{% static 'main_app/images/em.png' %}" alt="" class="move">
          <button class="send" id="formal">Перейти до оформлення</button>
        <!-- </div> -->
      </div>
    </form>
    <div class="poster">
    </div>
    
  </main>
</div>
</div>
</div>
{% endblock %}