{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'chat_app/chat.css' %}">
<script src="{% static 'main_app/jquery.js' %}" defer></script>
<script src="{% static 'chat_app/chat.js' %}" defer></script>
{% endblock %}

{% block content %}
{% render_header 0 0 0 1 0 %}
<input type="hidden" value="{{ chat_group.pk }}" id="chatGroupPk">
<input type="hidden" value="{% static 'main_app/images/remove.png' %}" id="removeLink">
<!-- leave -->
 <!-- {% static 'main_app/images/remove.png' %} -->
  <!-- get -->
<input type="hidden" id="checkMark" value="{% static 'main_app/images/check_mark.png' %}">
<input type="hidden" id="leaveLink" value="{% url 'leave' 0 %}">
<input type="hidden" id="getLink" value="{% url 'get' %}">
<input type="hidden" value="{% static 'main_app/images/Indicator.png' %}" id="avatarLink">
<div class="bg" hidden></div>
<form id="selectUsers" class="hidden">
    <h1 class="groupH1">Нова група</h1>
    <p class="searches"> <img src="{% static 'main_app/images/search.png' %}" alt="" class="searchImg"><input type="text" placeholder="        Пошук" class="search"></p>
    {% if contacts %}
        {% for contact in contacts %}
            <div class="contact">

                <span class="user-data-group">
                    <img src="{% static 'main_app/images/Indicator.png' %}" class="contact-avatar">
                    <span id="span{{contact.pk}}">{{contact.user.first_name}} {{contact.user.last_name}}</span> 
                </span>
                <input type="checkbox" id="input{{contact.pk}}">
                <input type="hidden" name="members" id="member" value="{{contact.pk}}">
            </div>
        {% endfor %}
    {% endif %}
    <div class="buttons">
        <button class="btn btn-delete">Скасувати</button>
        <button class="btn btn-confirm" id="addUsers">Далі</button>
    </div>
</form>
<input type="hidden" id="leaveGroup" value="{% static 'main_app/images/leaveGroup.png' %}">
<form id="grouupcreation" class="hidden" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="type" value="groupCreation" id="groupCreation">
    <input type="hidden" name="pk" value="pk" id="pkInput">
    <h1 class="groupH1">Нова група</h1>
    <div class="nameGroupDiv">
        <label for="nameGroupInput">Назва</label>
        <input type="text" name="name" id="nameGroupInput" placeholder="Введіть назву">
    </div>
    <div class="avatar-div">
        <img src="{% static 'main_app/images/group.png' %}" alt="" class="contact-avatar" id="changeGroupAvatar">
        <div class="photo-options">
            <button class="add-button"><img src="{% static 'main_app/images/plus.png' %}" alt="" class='icon'> Додайте фото</button>
            <label for="fileInput"  class="add-button" id="mark"><img src="{% static 'main_app/images/public.png' %}" alt="" class="icon"> Оберіть фото</label>
            <input type="file" id="fileInput" name="group_img" hidden>
            <!-- <input type="file" id="imageInput" name="images" accept="image/*" multiple> -->
        </div>
    </div>
    <p class="membersP">Учасники</p>
    <div class="members">

    </div>
    <div class="buttons">
        <button class="btn btn-delete">Скасувати</button>
        <button class="btn btn-confirm" id="addUsers">Створити групу</button>
    </div>
</form>
<main class="chat-wrapper">
        <aside class="sidebar">
            <button class="create-group img-conteiner"><img src="{% static 'main_app/images/whitePlus.png' %}" alt="" class="icon"> Створити груповий чат</button>
            <div class="contacts">
<!-- <<<<<<< HEAD
                <h3 class="contacts-h3 img-conteiner"><img src="{% static 'main_app/images/people2.png' %}" alt=""  class="icon">Контакти</h3>
                <p class="searches"> <img src="{% static 'main_app/images/search.png' %}" alt="" class="searchImg"><input type="text" placeholder="        Пошук" class="search"></p>
                <ul class="contact-list">
                    <li><img src="{% static 'main_app/images/Indicator.png' %}" alt=""> Jane Cooper</li>
                    <li><img src="{% static 'main_app/images/Indicator.png' %}" alt=""> Cameron Williamson</li>
                    <li><img src="{% static 'main_app/images/Indicator.png' %}" alt=""> Leslie Alexander</li>
                </ul>
======= -->
                <h3 class="contact-h3"><img src="{% static 'main_app/images/people2.png' %}" alt="" class="icon">Контакти</h3>
                <p class="searches"> <img src="{% static 'main_app/images/search.png' %}" alt="" class="searchImg"><input type="text" placeholder="        Пошук" class="search"></p>
    <ul class="contact-list">
                {% if contacts %}
                    {% for contact in contacts %}
                        <li class="contact-item" id="user{{contact.pk}}">
                           {% profile_icon contact.user "contact-avatar" %}
                             <div class="contact-info">
                                <span class="contact-name">{{ contact.user.first_name }} {{ contact.user.last_name }}</span>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
<!-- >>>>>>> origin/Renat -->
            </div>
        </aside>

        <section class="chat-panel">
            <div class="chat-card">
                <div id="haederCard" style="display: none;">
                    <div class="chat-exit">
                        
                        <img src="{% static 'main_app/images/left_arrow.png' %}" alt="" class="icon exit-img">
                        <!-- left_arrow -->
                        <div class="chat-icon">
                            {% profile_icon request.user "avatar current-group-avatar" %}
                            <div class="chat-data">
                                <h3 class="friend-current-name">Friend</h3>
                                <p>в мережі</p>
                            </div>
                        </div>
                    </div>
                    <!-- {% static 'main_app/images/leaveGroup.png' %} -->
                    <button class="ellipsis" type="submit" id="heh{{post.pk}}"><img src="{% static 'main_app/images/ellipsis.png' %}" alt="error" class="icon" ></button>
                    <dialog class="dialog hidden" id="heh{{post.pk}}">
                        <button class="ellipsis hidden"  id="heh" type="submit" ><img src="{% static 'main_app/images/ellipsis.png' %}" alt="error" class="icon"></button>
                        <button class="removeChat" id=""><img src="{% static 'main_app/images/public.png' %}" alt=""  class="icon">Медіа</button>
                        <button class="editChat" id=""><img src="{% static 'main_app/images/edit.png' %}" alt=""  class="icon">Редагувати групу</button>
                        <hr>
                        <button class="exitChat" id="adminChat"><img src="{% static 'main_app/images/remove.png' %}" alt=""  class="icon">Видалити чат</button>
                        <button class="exitChat" id="userChat"><img src="{% static 'main_app/images/leaveGroup.png' %}" alt=""  class="icon">Покинути групу</button>
                    </dialog>

                </div>
                <div class="center-message">
                    <h2>Почніть нове спілкування</h2>
                    <p>Оберіть контакт зі списку ліворуч або створіть групу, щоб почати спілкування</p>
                </div>
                

                    
                    <footer id="chatCard" style="display: none;">
                        <main id="messages">
                            <!-- <p class="my-message">
                                Привіт! <span class="details-message"> <span class="time">10:01</span> <img src="{% static 'main_app/images/check_mark.png' %}" class="check-mark"> </span>
                            </p> -->
                        </main>
                        <div class="footer">
                        <input type="text" name="" id="messageInput" placeholder="Повідомлення">
                        <div class="send-part">
                            <img src="{% static 'main_app/images/em.png' %}" alt="">
                            <img src="{% static 'main_app/images/img.png' %}" alt="">
                            <button class="send-button"><img src="{% static 'main_app/images/send.png' %}" alt=""></button> 
                            <!-- img.png -->
                        </div>
                        </div>
                    </footer>   
                
            </div>
        </section>

        <aside class="chat-info">
            <div class="messages">
                
                <div class="title"><div class="contact-h3"><img src="{% static 'main_app/images/chat.png' %}" alt=""  class="icon">Повідомлення</div> <a href="">Дивитись всі</a></div>

                <ul>
                    <li><img src="{% static 'main_app/images/Indicator.png' %}" alt=""><div class="text-group"> Mona Lisa<small>Привіт!</small></div><span class="message-date">09:41</span></li>
                </ul>
                <ul>
                    <li><img src="{% static 'main_app/images/Indicator.png' %}" alt=""><div class="text-group"> Mona Lisa<small>Привіт!</small></div><span class="message-date">09:41</span></li>
                </ul>
                <ul>
                    <li><img src="{% static 'main_app/images/Indicator.png' %}" alt=""><div class="text-group"> Mona Lisa<small>Привіт!</small></div><span class="message-date">09:41</span></li>
                </ul>
                
            </div>
            <div class="groups">
                <div class="title"><div class="contact-h3"><img src="{% static 'main_app/images/chat.png' %}" class="icon" alt="">Групові чати</div> <a href="">Дивитись всі</a></div>
                <!-- chatGroups -->

                <ul id="allGroups">
                    {% for chatGroup in chatGroups %}
                        <li class="group-item" id="group{{chatGroup.pk}}">
                            {% if chatGroup.avatar %}
                            <img src="{{chatGroup.avatar.url}}" alt="">
                            {% else %}
                            <img src="{% static 'main_app/images/group.png' %}" alt="">
                            {% endif %}
                            <div class="text-group">
                                <span class="groupName">{{chatGroup.name}}</span><small>Чудово!</small>
                            </div>
                            <span class="message-date">09:41</span>
                        </li>
                    {% endfor %}
                <!-- </ul> -->
                <!-- <ul> -->
                    <!-- <li><img src="{% static 'main_app/images/group.png' %}" alt=""><div class="text-group"> New group<small>Чудово!</small></div><span class="message-date">09:41</span></li> -->
                <!-- </ul> -->
                <!-- <ul> -->
                    <!-- <li><img src="{% static 'main_app/images/group.png' %}" alt=""><div class="text-group"> New group<small>Чудово!</small></div><span class="message-date">09:41</span></li> -->
                </ul>
                
            </div>
        </aside>
    </main>
{% endblock %}