{% load static %}
<input type="hidden" value="{{ pk }}" id="pkInput">
{% for message in messages %}
    {% if message.author == request.user %}
        <p class="my message">
            {{message.content}} <span class="details-message"> <span class="time">{{ message.send_at }}</span> <img src="{% static 'main_app/images/check_mark.png' %}" class="check-mark"> </span>
        </p>
    {% else %}
        <p class="message">
            <span class="username">
                {{message.author.username}}
            </span>
            <span class="messageContent">
                <img src="{% static 'main_app/images/Indicator.png' %}" class="avatar" alt=""> 
                {{message.content}} 
                <span class="details-message"> 
                    <span class="time">{{ message.send_at }}</span> 
                    <img src="{% static 'main_app/images/check_mark.png' %}" class="check-mark"> 
                </span>
            </span>
        </p>
    {% endif %}
{% endfor %}