{% load static %}
<input type="hidden" value="{{ pk }}" id="pkInput">
{% for message in messages %}
    {% if message.author == request.user %}
        <p class="my message">
            {{message.content}} <span class="details-message"> <span class="time">{{ message.send_at.hour }}:{{ message.send_at.minute }}</span> <img src="{% static 'main_app/images/check_mark.png' %}" class="check-mark"> </span>
        </p>
    {% else %}
        <p class="message">
            <img src="{% static 'main_app/images/Indicator.png' %}" class="avatar" alt=""> 
            <span class="message-data">

                <span class="username">
                    {{message.author.username}}
                </span>
                <span class="messageContent">
                    
                    {{message.content}} 
                    <span class="details-message"> 
                        <span class="time">{{ message.send_at.hour }}:{{ message.send_at.minute }}</span> 
                        <img src="{% static 'main_app/images/check_mark.png' %}" class="check-mark"> 
                    </span>
                </span>
            </span>
        </p>
    {% endif %}
{% endfor %}