
h1{
    display: flex;
    width: 18.6351706036vw;
    height: 1.41732283464vw;
    color: #070A1C;
    gap: 2.0997375328vw;
    font-size: 1.78477690288vw;

}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}
p{
    width: 20.997375328vw;
    height: 2.20472440944vw;
    border-radius: 0.5249343832vw;
    gap: 0.5249343832vw;
    padding-top: 0.5249343832vw;
    padding-right: 1.0498687664vw;
    padding-bottom: 0.5249343832vw;
    padding-left: 2.0997375328vw;
    border-width: 0.05249343832vw;
    
    
}
.bg{
    background-color: #000000;
    opacity: 0.728;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    right: 0;
    bottom: 0;
}
button{
    width: 20.997375328vw;
    height: 2.72965879264vw;
    border-radius: 64.7769028869vw;
    gap: 0.41994750656vw;
    padding-top: 0.83989501312vw;
    padding-right: 1.25984251968vw;
    padding-bottom: 0.83989501312vw;
    padding-left: 1.25984251968vw;
    background-color: #543C52;
    font-family: GT;
    color: white;
    font-size: 0.83989501312vw;
}

label{
    display: flex;
}
header{
    display: flex;
    width: 75.5905511808vw;
    justify-content: center;
    padding-top:1.25984251968vw;
    padding-right: 4.1994750656vw;
    padding-bottom: 1.25984251968vw;
    padding-left: 4.1994750656vw;
    height: 0.94488188976vw;
    margin: 0 auto;
}

img{
    display: flex;
    z-index: 0;

}
.email{
    position: fixed;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1.0498687664vw;
    z-index: 100;
    height: 23.3070866141vw;
    width: 25.6167979002vw;
    gap: 1.88976377952vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.30971128608vw;
}
.buttons{
    justify-content: center;
    align-items: center;
display: flex;
flex-direction: column;
gap: 0.83989501312vw;
}
h2{
    width: 20.997375328vw;
    font-size: 0.83989501312vw;
    text-align: center;
}
.code{
    width: 2.624671916vw;
    height: 2.3622047244vw;
    border-radius: 0.5249343832vw;
    padding: 0.5249343832vw;
    gap: 0.5249343832vw;
    border-width: 0.05249343832vw;
}
input{
    width: 2.624671916;
    height: 2.624671916;
    font-size: 0.83989501312vw;
}
a{
    color: black;
    text-decoration: none;
    width: min-content;
    justify-content: center;
    display: flex;
}
.inputs{
    gap: 0.31496062992vw; 
      display: flex;
      justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #E9E5EE; */
    align-items:center;
    gap: 1.5748031496vw;
}
form{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5748031496vw; 
    width: 20.997375328vw;
}