
/* form{
    
} */

h1{
    display: flex;
    /* width: 355;
    height: 27; */
    color: #070A1C;
    gap: 1.25984251968vw;
    text-align: center;
    justify-content: center;
    width: 20.9448818897vw;
    height: 1vw;

}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: -15; */
    align-items: center;
    /* height: max-content; */
    /* width: max-content; */
    height: 90.3402854007vh;
}
.login{
    width: 20vw;
    height: 2.5vw;
    border-radius: 1234vw;
    gap: 0.41994750656vw;
    padding-top: 1vw;
    padding-right: 1.25984251968vw;
    padding-bottom: 1vw;
    padding-left: 1.25984251968vw;
    background-color: #543C52;
    font-family: GT;
    color: white;
    border: 0.05249343832vw solid black;
    font-size: 1vw;
    
}
.password-p{
    position: relative;
}
.view-password-but{
    padding: 0;
    position: absolute;
    /* right: -0vw; */
    right: 0;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    background-color: none;
    border: none;
    cursor: pointer;
    margin: 0;
}
label{
    display: block;
    margin-bottom: 0.5vw;
}
header{
    display: flex;
    width: 100vw;
    justify-content: center;
    /* padding: 1.25984251968vw 0; */
    height: 4.61942257217vw;
    
    margin: 0;
    align-items: center;
    background-color: white;
}
body{
    margin: 0;
}
.view-password-img{
    width: 1.0498687664vw;
    height: 1.0498687664vw;
}
#create{
    display: flex;
    left: 13.0419947506vw;
    border-radius: 1.0498687664vw;
    padding: 2.30971128609vw;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    /* flex-wrap:wrap; */
    align-items: center;
    background-color: white;
    z-index: 11;
    margin: 0;
    /* margin-right: 13.0456692913vw; */
    /* margin-top: 12.3884514436vw; */
    /* position: absolute;
    left: 13.0456692913vw;
    top: 12.3884514436vw; */
    /* height: 38.3333333333vw; */
    height: 28.9763779527vw;
    width: 25.5643044619vw;
    font-size: 0.83989501312vw;
    transform: translate(5.5%,0); 
}
::-webkit-scrollbar {
  display: none;
}

img{
    display: flex;
    z-index: 0;

}
.hidden{
    display: none;
}
#h1{
    width: 7.61154855642vw;
    height: 0.94488188976vw;
}
body{
    background-color: #E9E5EE;
}

.bg{
    height: 100%;
    width: 100%;
    opacity: 0.277;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}
.comp{

    width: 35.6588208456vw;
    height: 27.6696424909vw;
    /* position: absolute; */
    /* left: 50vw;
    transform: translate(0,-50%); */
    left: 34.5238845144vw;
    top: 13.0419947506vw;
    transform: translate(-5.5%,0); 
}
input{
    width: 20vw;
    height: 2vw;
    border-radius: 0.69444444444vw;
    padding-top: 0.69444444444vw;
    padding-right: 1.11111111111vw;
    padding-bottom: 0.69444444444vw;
    padding-left: 1.11111111111vw;
    gap: 0.5249343832vw;
    border-width: 0.05249343832vw;
    font-size: 0.75vw;
    border: 0.05249343832vw solid black;
}

input::placeholder {
    color: #81818D !important; 
    opacity: 1 !important; 
}

input:focus{
    outline: 0.01249343832vw solid black;
}
.inline-hr-div{
    display: inline-block;
    width: 2.88713910761vw;
    height: 0.05249343832vw;
    background-color: #81818D;
    margin: 0 0.2624671916vw;
    vertical-align: center;
}
.reg{
    color: #81818D;
    text-decoration:none ;
    width: 9.76377952755vw;
    height: 2.26719160105vw;
}
.auth{
    cursor: pointer; 
    border-bottom: #543C52 0.10498687664vw solid;
    width: 9.92125984251vw;
    height: 2.26719160105vw;
    text-decoration:none ;
    
}
.header_div{
    height: 2.93963254593vw;
    width: 20.9973753281vw;
}
a{
    color: black;
}
.qr{
    gap: 1.25984251968vw;
    display: flex;
    flex-direction: column;
    height: 7.45406824146vw;
    justify-content: center;
    align-items: center;
    margin: 0 8vw;
    margin-top: 1.88976377952vw;
}
#qr-img{
    width: 5.24934383201vw;
    height: 5.24934383201vw;
}
.text{
    display: inline;
    font-size: 0.83989501312vw;
}
.qr-p{
    width: 20.9973753281vw;
}