/* *{
    background-color: aqua;
} */
.reg{
    cursor: pointer; 
    color: black;
    border-width: 2px;
    text-decoration: none;
    border-bottom: #543C52 0.1vw solid;
    width: 12.9166666667vw;
    height: 2.04724409449vw;
    gap: 8px;

}
.auth{
   color: #81818D;
    width: 9.76377952755vw;
    height: 2.04724409449vw;
    border-width: 2px;
    text-decoration: none;
    border-bottom: unset;
    
}
