/* *{
    background-color: aqua;
} */
.reg{
    cursor: pointer; 
    color: black;
    width: 186;
    border-width: 2px;
    text-decoration: none;
    border-bottom: #543C52 2px solid;
    width: 186;
    height: 47;
    gap: 8px;

}
.auth{
   color: #81818D;
    width: 186;
    border-width: 2px;
    text-decoration: none;
    border-bottom: unset;
    
}
