{% load tags %}
{% for user in users %}
    <div class="friend-card" id="card{{ user.pk }}">
        <input type="hidden" value="{% url 'friends_account' user.pk %}">
        <div class="friend-profile">
            {% profile_icon user "friend-avatar avatar{{ user.pk }}" %}
            <div class="friend-info">
                <strong class="friend-name">{{user.first_name }} {{user.last_name}}</strong>
                <span class="friend-username">@{{ user.username }}</span>
            </div>
        </div>
        <div class="friend-actions">
            <button class="btn btn-confirm" value="{{ user.pk }}">Підтвердити</button>
            <button class="btn btn-delete">Видалити</button>
        </div>
    </div>
{% endfor %}